.claude/
.agents/

# Database
db.sqlite3

# Environment & Secrets
.env
.env.local
*.key
*.pem

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# Node / frontend tooling
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Harcoded data
seed_requirements.py
package.json
package-lock.json
skills-lock.json

# Prettier config
.prettierignore
.prettierrc
